.App {
  font-family: 'Sansita Swashed';
}

body {
background-color: #fffcdc;
display: flex;
flex-direction: column;
 min-height: 400px;
   margin-bottom: 120px;
   clear: both;

}
nav {
  text-align: center;
}
footer {
  position:fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background:#999;

}

.about {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0px;

}

.rxguide-logo {
width: 350px;

}


.plus-button {
  position: absolute;
  left: 0px;
}

.med {
 
  margin: 0 auto;
  border: 1px solid pink;
  background: #ffccff;
  box-shadow: 5px 5px peachpuff;
  width: 250px;
  max-width: 250px;
  margin: 20px auto;
  text-align: center;

}

.add {
 width: 20px;
 height: 20px;
}

form {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 200px;
  max-width: 200px;
  margin: 0 auto;
  border: 1px solid pink;
  padding: 10px;
  background-color: #ffccff;
  box-shadow: 5px 5px peachpuff;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: white;
  border: 1px solid pink;
}

button{ 
  padding: 10px 40px;  
  overflow:hidden;
}


.med-pic{
  margin-left: 75%;
  margin-bottom: -10%;
}

.update-med {
  box-shadow: none;
  border: none;
}

.about-text {
  text-align: center;
}



@media only screen and (min-width: 1024px) {
 body{
  display: flex;
  flex-direction: column;
   min-height: 400px;
     margin-bottom: 120px;
     clear: both;
 }
.med{
  display: inline-block;
  margin: 10px;
}

button:before {
  position: absolute;
  top: 11px;
  left: -30px;
  transition: all 300ms ease;
}

/* This button hover idea was taken from google. */

@keyframes bounce {  
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
button:hover {
  animation: bounce 1s;
  cursor: pointer;
  
}
.rxguide-logo:hover {
  animation: bounce 1s;
}

.about:hover {
  animation: bounce 1s;
}

.med:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

}