body {
background-color: #fffcdc;
display: flex;
flex-direction: column;

}

footer {
  position:fixed;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background:#999;
}

.about {
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0px;

}

.rxguide-logo {
width: 350px;

}


.plus-button {
  position: absolute;
  left: 0px;
}

.med {
  margin: 0 auto;
  border: 1px solid black;
  background: #ffccff;
  box-shadow: 5px 5px peachpuff;
  width: 50%;
  text-align: center;
}

.add {
 width: 20px;
 height: 20px;
}

form {
  text-align: center;
}
button {
  margin: 10px;
  
}

button:hover{
  cursor: pointer;
  
}